.iconTam {
  width: 54px;
  height: 30px;
  aspect-ratio: auto 154/30;
  margin-left: 10px;
}

.marginbody {
  margin-top: 5rem;
}

.pointer {
  cursor: pointer;
}

.txtCenter {
  text-align: center;
}
