<main id="main" class="main">
  <div class="pagetitle">
    <h1>Principal</h1>
  </div>
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <br />
        <div class="card">
          <div class="card-body">
            <!-- Agregar html aca -->
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url('assets/images/dashboard.png');">
              <div class="col-md-5 p-lg-5 mx-auto my-5" >
                <h1 class="display-4 fw-normal" style="border: solid 2px; background-color: white; border-radius: 10px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BIENVENIDO A PINTUCOR</h1>
                <br>
                <p class="lead fw-normal">
                  Colores para el futuro.
                  <br>
                  Trabajo profesional a un precio razonable.
                </p>
                <br>
                <a class="btn btn-outline-primary" routerLink="/home/venta">Ventas</a>
              </div>
              <div class="product-device shadow-sm d-none d-md-block"></div>
              <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>

            <!-- Hasta aca -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
