<form>
  <div class="display-flex marginBox container">
    <div class="row">
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3 class="text-white">Sign Up</h3>
            <div class="form-group marginI col-sm-12 col-md-6 col-lg-4">
              <input type="email" class="form-control" placeholder="Email" #userEmail required />
            </div>
            <div class="form-group marginI col-sm-12 col-md-6 col-lg-4">
              <input type="password" class="form-control" placeholder="Password" #userPwd required />
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-4 marginI">
              <input type="button" class="btn btn-success" value="Sign Up"
                (click)="authService.SignUp(userEmail.value, userPwd.value)" />
            </div>
            <!-- Continue with Google -->
            <div class="form-group col-sm-12 col-md-4 col-lg-4 marginI">
              <button type="button" class="btn btn-danger googleBtn" (click)="authService.GoogleAuth()">
                <i class="fab fa-google-plus-g"></i>
                Continue with Google
              </button>
            </div>
          </div>
          <div class="redirectToLogin moreopc">
            <span>Already have an account?
              <span class="redirect" routerLink="/login">Log In</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
