<div class="row justify-content-center text-center">

    <div class="col-md-4">
        <div class="card card-color">
            <div class="card-body pt-4 text-white">

                Ventas de <b>Hoy</b>
                <b class="numeros">{{cantidadHoy.dia}}</b>

            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card card-color">
            <div class="card-body pt-4 text-white">

                Ventas de <b>{{mesHoy}} {{hoy.getFullYear()}}</b>
                <b class="numeros">{{cantidadHoy.mes}}</b>

            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card card-color">
            <div class="card-body pt-4 text-white">

                Ventas del <b>{{hoy.getFullYear()}}</b>
                <b class="numeros">{{cantidadHoy.anio}}</b>

            </div>
        </div>

    </div>

</div>

<hr>

<div class="row justify-content-center">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center pt-4">

                <h3>Seleccione una fecha:</h3>

                <mat-card class="demo-inline-calendar-card">
                    <mat-calendar [(selected)]="selected"> </mat-calendar>
                </mat-card>
                <br>
                <button class="btn btn-primary btn-block" (click)="buscar()">Buscar</button>

            </div>
        </div>

    </div>

    <div class="col-md-8">

        <div class="row">

            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body py-4">
        
                        Ingresos <b>{{fecha.dia}} {{mes}} {{fecha.anio}}</b>
                        <b class="numeros">{{cantidad.dia}}</b>
        
                    </div>
                </div>
        
            </div>

            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body py-4">
        
                        Ingresos <b>{{mes}} {{fecha.anio}}</b>
                        <b class="numeros">{{cantidad.mes}}</b>
        
                    </div>
                </div>
        
            </div>

            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body py-4">

                        Ingresos totales del <b>{{fecha.anio}}</b>
                        <b class="numeros">{{cantidad.anio}}</b>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-body py-4">
        
                        <app-pie-top-sellers [meses]=meses [fecha]=fecha></app-pie-top-sellers>
        
                    </div>
                </div>
        
            </div>

            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-body py-4">
        
                        <app-pie-top-sellers-y [fecha]=fecha></app-pie-top-sellers-y>
        
                    </div>
                </div>
        
            </div>

        </div>

    </div>

</div>